# EDA Examples

In [1]:
import pandas as pd
import numpy as np
import time
import warnings
import os

In [2]:
data_dir = 'data'
train_file_name = 'train.csv'

In [3]:
train_data = pd.read_csv(os.path.join(data_dir,train_file_name))
train_data.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [45]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 4 columns):
date     913000 non-null object
store    913000 non-null int64
item     913000 non-null int64
sales    913000 non-null int64
dtypes: int64(3), object(1)
memory usage: 27.9+ MB

## Filtering rows with double conditions

In [30]:
filters = (train_data.item ==1) | (train_data.item ==2)
train_data_1_2 = train_data[filters]
train_data_1_2.head()
print(train_data_1_2.info())
train_data_1_2.groupby('item').count()

# train_data_1 = train_data[train_data.item == 1]
# train_data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36520 entries, 0 to 36519
Data columns (total 4 columns):
date     36520 non-null object
store    36520 non-null int64
item     36520 non-null int64
sales    36520 non-null int64
dtypes: int64(3), object(1)
memory usage: 1.4+ MB
None

       date  store  sales
item
1     18260  18260  18260
2     18260  18260  18260

## Groupby and Filter

In [39]:
# the number is the same as the total rows
gp12 = train_data_1_2.groupby(['date','item','store'])
gp12.filter(lambda x: x['sales'] >= 0).count()

date     36520
store    36520
item     36520
sales    36520
dtype: int64

In [37]:
gp12 = train_data_1_2.groupby(['date','item','store'])
gp12.filter(lambda x: x['sales'] >= 140).count()

date     3
store    3
item     3
sales    3
dtype: int64

In [42]:
%%time
# filter out of 36,520 rows
# 14.9 seconds elapsed
gp12 = train_data_1_2.groupby(['date','item','store'])
print(gp12.filter(lambda x: x['sales'] >= 140))

             date  store  item  sales
21714  2017-06-17      2     2    150
32643  2017-05-21      8     2    145
32699  2017-07-16      8     2    144
CPU times: user 14.8 s, sys: 4 ms, total: 14.9 s
Wall time: 14.8 s

### Add aggreation function with conditon

In [43]:
%%time
# filter out of 36,520 rows
# 14.9 seconds elapsed
gp12 = train_data_1_2.groupby(['date','item','store'])
print(gp12.filter(lambda x: x['sales'].sum() >= 140))

             date  store  item  sales
21714  2017-06-17      2     2    150
32643  2017-05-21      8     2    145
32699  2017-07-16      8     2    144
CPU times: user 9.58 s, sys: 2 Âµs, total: 9.58 s
Wall time: 9.58 s

In [44]:
%%time
# out of 913,000 rows
# 6mins 13s elpased
t_g = train_data.groupby(['date','item','store'])
print(t_g.filter(lambda x: x['sales'] > 200))

              date  store  item  sales
222246  2016-07-24      2    13    204
222596  2017-07-09      2    13    210
258752  2016-07-10      2    15    207
258759  2016-07-17      2    15    209
259109  2017-07-02      2    15    231
259116  2017-07-09      2    15    205
313889  2017-07-02      2    18    208
313895  2017-07-08      2    18    204
313938  2017-08-20      2    18    201
386579  2016-07-17      2    22    214
496495  2017-07-08      2    28    206
496496  2017-07-09      2    28    203
507109  2016-07-31      8    28    202
507444  2017-07-01      8    28    204
806909  2017-07-02      2    45    205
806930  2017-07-23      2    45    205
CPU times: user 6min 14s, sys: 164 ms, total: 6min 14s
Wall time: 6min 13s

## Add new store id and county id

In [46]:
# # compute unique id number
# n_item_id = train_df.item_id.unique()
# train_df['county'] = 0 ## Add county column
# for item in n_item_id:
#     j = int(item) -1
#     store = int(j/5) + 1
#     county = int(j/25) + 1
#     # print("item id {}: store {}, county {}".format(item, store, county))
#     train_df.store[train_df.item_id == item] = store
#     train_df.county[train_df.item_id == item] = county
# train_df.groupby(['item_id','store','county']).count()